
/*  Print Styles - 12 of 12 Microsoft Internet Explorer Design Templates 


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 HTML TAGS
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	color:#2d2d2d;
	}

body.inner-body {
	}

p, li {
	font-size:.9em;
	line-height:160%;
	}
	
a img {
	border:none;
	}

/* HEADINGS */
	
h1,h2,h3,h4,h5,h6 {
	margin:5px 0;
	color:#e83b74;
	padding:5px 0;
	}
	
h1.first,
h2.first,
h3.first,
h4.first,
h5.first,
h6.first {
	margin-top:0;
	}

.side-bucket-heading-content h1,
.side-bucket-heading-content h2,
.side-bucket-heading-content h3,
.side-bucket-heading-content h4,
.side-bucket-heading-content h5,
.side-bucket-heading-content h6 {
	color:#FFF;
	margin:0;
	padding:0;
	}
	
h1 {
	font-size:1.3em;
	}
	
h2 {
	font-size:1.1em;
	}
	
h3 {
	font-size:1em;
	}
	
h4 {
	font-size:.9em;
	}
	
h5 {
	font-size:.8em;
	}
	
h6 {
	font-size:.8em;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 FORMS
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

fieldset {
	padding:10px 20px;
	margin:15px 0;
	position:relative;
	border:1px solid #9e9e9e;
	}

fieldset fieldset {
	margin:10px 0;
	}
	
legend {
	font-weight:bold;
	font-size:1em;
	padding:10px 15px 0 15px;
	color:#FFF;
	margin:0 0 0 10px;
	min-height:32px;
	_height:32px;
	display:block;
	width:50%;
	}

.input-box {
	display:block;
	vertical-align:top;
	padding:4px;
	color:#666666;
	border:1px solid #467acc;
	}

label {
	font-weight:bold;
	font-size:.7em;
	font-weight:bold;
	display:block;
	margin-top:10px;
	}
	
.checkbox {	
	margin:12px 0;
	width:60%;
	}
	
.checkbox input {	
	}

input.button {
	font-size:.7em;
	font-weight:bold;
	padding:0 5px 2px 5px;
	cursor:pointer;
	}
	
input.button-big {
	padding:2px 20px;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 LINKS
	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a:link {
	color:#49a9f5;
	font-weight:bold;
	}

a:visited {
	color:#4982f5;
	font-weight:bold;
	}

a:hover {
	text-decoration:none;
	}

a:active {
	text-decoration:underline;
	color:#3cbc32;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 LOGIN
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav-login  {
	display:none;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 HEADER
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header-container {
	position:relative;
	color:#000;
	padding:10px;
	border:4px solid #50ACFB;
	}
	
/* LOGO */

.logo {
	font-size:1.1em;
	font-weight:normal;
	}

/* LOGO LINK */

.logo a:link,
.logo a:visited {
	text-decoration:none;
	color:#000;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 MAIN NAV
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav-main {
	display:none;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 NAV FOOTER
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav-footer-container {
	position:relative;
	color:#000;
	padding:10px;
	border:4px solid #50ACFB;
	}

.nav-footer ul{
	display:none;
	}
	
/* COPYRIGHT */

.copyright {
	text-align:center;
	color:#5093c7;
	font-weight:normal;
	}
		
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 POSTER
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.poster-container {
	font-size:1em;
	margin:20px 0;
	position:relative;
	border:4px solid #CBE8FF;
	padding:15px;
	}

.poster-container h1 {
	margin:0;
	padding:0;
	font-size:1.4em;
	}

.poster-container p {
	margin:10px 0 0 0;
	line-height:normal;
	font-size:1em;
	}

/* POSTER LINKS */

.poster-links {
	font-style:italic;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 BREADCRUMB
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.breadcrumb {
	padding:10px 0;
	font-size:.9em;
	color:#000;
	}

.breadcrumb a:link,
.breadcrumb a:visited {
	color:#000;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 SIDE BUCKET
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.side-bucket {
	margin-bottom:20px;
	line-height:normal;
	width:350px;
	border:1px solid #9E9E9E;
	}

.side-bucket-top,
.side-bucket-content,
.side-bucket-bottom,
.side-bucket-heading-top,
.side-bucket-heading-content,
.side-bucket-heading-bottom {	
	min-height:1px;
	_height:1px;
	}

.side-bucket-heading-content {	
	color:#FFF;
	font-size:.9em;
	padding:5px;
	border-bottom:3px solid #49A9F5;
	}
	
/* SIDE BUCKET LISTS */

.side-bucket ul {
	margin:0;
	padding:0;
	}

.side-bucket li {
	list-style:none;
	border-top:1px solid #e2e2e2;
	padding:3px 0 3px 10px;
	}

.side-bucket li.first {
	border:none;
	}
	
/* SIDE BUCKET LINKS */

.side-bucket a:link,
.side-bucket a:visited {
	text-decoration:none;
	display:block;
	_display:inline;
	}
	
.side-bucket a:hover {
	text-decoration:underline;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 PHOTOS & CAPTIONS
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.photo-container {
	line-height:normal;
	border:1px solid #9E9E9E;
	padding:15px;
	}

.photo-content img {
	display:block;
	border:1px solid #e2e2e2;
	}
	
.photo-caption {
	font-size:.8em;
	color:#000;
	font-weight:bold;
	padding:10px 0 0 0;
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 TWO-COLUMN SECTION
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.two-column-container {
	width:100%;
	position:relative;
	}
	
.two-column-1 {
	float:left;
	width:47%;
	}
	
.two-column-2 {
	float:right;
	width:47%;
	}
	
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 DATA TABLES
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.data-table {
	font-size:.7em;
	border-top:1px solid #49a9f5;
	border-left:1px solid #49a9f5;
	margin:0 0 30px 0;
	}

table.data-table caption{
	padding:10px;
	text-align:center;
	font-weight:bold;
	color:#FFF;
	font-size:1.2em;
	margin-top:30px;
	border:3px solid #49a9f5;
	}

table.data-table td,
table.data-table th{
	padding:8px;
	border-right:1px solid #49a9f5;
	border-bottom:1px solid #49a9f5;
	}

table.data-table th{
	text-align:left;
	color:#FFF;
	border-right:1px solid #3691da;
	border-bottom:1px solid #3691da;
	}
	
table.data-table td{
	}

table.data-table tr.row-alternating td{
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	 
	 MISC STYLES
	 	 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.none {
	display:none;
	}

.clear {
	clear:both;
	font-size:1px;
	margin:0;
	padding:0;
	}

.align-left {
	float:left;
	margin:0 20px 15px 0;
	}

.align-right {
	float:right;
	margin:0 0 15px 20px;
	}

.align-middle {
	vertical-align:middle;
	}
	
.inline {
	display:inline;
	}

.no-margin {
	margin:0;
	}