<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.2"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="720" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>

  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
      <param name="File" value="Log\Applog.txt" />
      <param name="datePattern" value="yyyy-MM-dd HH:mm" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />

      </layout>

    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />

      </layout>

    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />

      </layout>

    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="UploadUtilImageThumbSize" value="100"/>
    <add key="FileListControlTableColumns" value="4"/>
    <add key="^http://v.youku.com/v_show/id_([a-z\d=]+).html$" value="FBS.Web.Share.HtmlParser.YoukuHtmlParser,FBS.Share" />
    <add key="^http://v.youku.com/v_playlist/f(\d+)o(\d+)p(\d+).html$" value="FBS.Web.Share.HtmlParser.YoukuPlayListHtmlParser, FBS.Share" />
    <add key="^http://www.tudou.com/programs/view/(([a-zA-Z\d-_]+/isRenhe=1)|(([a-zA-Z\d-_]+)/([a-zA-Z\d-_=&amp;]*)))$" value="FBS.Web.Share.HtmlParser.TudouHtmlParser,FBS.Share" />
    <add key="^http://v.ku6.com/((show/([a-zA-Z\d-_]+))|(special/show_([\d]+)/([a-zA-Z\d-_]+))).html$" value="FBS.Web.Share.HtmlParser.Ku6HtmlParser, FBS.Share" />
    <add key="^http://6.cn/watch/[\d]+.html$" value="FBS.Web.Share.HtmlParser.SixRoomHtmlParser, FBS.Share" />
    <add key="^http://you.video.sina.com.cn/((b/(\d+)-(\d+).html)|(pg/topicdetail/topicPlay.php\?([a-zA-Z\d_=&amp;]*)tid=(\d+)&amp;uid=(\d+)([&amp;t=\d]*)#(\d+)))$" value="FBS.Web.Share.HtmlParser.SinaHtmlParser, FBS.Share" />
    <add key="^http://video.sina.com.cn/(news|sports|ent|finance|tech)/([a-zA-Z\d-\/]+).shtml$" value="FBS.Web.Share.HtmlParser.SinaNewsHtmlParser,FBS.Share"/>
    <add key="^http://v.blog.sohu.com/u/((vw/(\d+))|(pw/(\d+)#([a-zA-Z\d_]+)))$" value="FBS.Web.Share.HtmlParser.SohuHtmlParser, FBS.Share" />
    <add key="^http://(news|ent|sports|finance|movie|real|you|joke|auto|games|travel).joy.cn/(guonei/video|guoji/video|video|movie/detail|movie/Detail|album|Album/(\d+)/(\d+)/(\d+))/(\d+).(htm|htm#)$" value="FBS.Web.Share.HtmlParser.JoyHtmlParser, FBS.Share" />


    <add key="FBS.Domain.Repository.IForumThreadRepository" value="FBS.Repository.ForumThreadRepository,FBS.Repository"/>
    <add key="FBS.Service.UserEntryService" value="FBS.Service.UserEntryService,FBS.Service"/>
    <add key="FBS.Service.FocuseService" value="FBS.Service.FocuseService,FBS.Service"/>
    <add key="FBS.Service.ForumThreadService" value="FBS.Service.ForumThreadService,FBS.Service"/>
    <add key="FBS.Service.ForumService" value="FBS.Service.ForumService,FBS.Service"/>
    <add key="FBS.Service.BlogService" value="FBS.Service.BlogService,FBS.Service"/>
    <add key="FBS.Service.UserInfoService" value="FBS.Service.UserInfoService,FBS.Service"/>
    <add key="FBS.Service.CMSService" value="FBS.Service.CMSService,FBS.Service"/>
    <add key="FBS.Domain.Repository.IFeedRepository" value="FBS.Repository.FeedRepository,FBS.Repository"/>
    <add key="FBS.Domain.Repository.IXmlRepository" value="FBS.Repository.XmlRepository,FBS.Repository"/>
    <add key="FBS.Domain.Repository.IRepository`1" value="FBS.Repository.TRepository`1,FBS.Repository"/>
    <add key="FBS.Domain.Repository.IAccountRepository" value="FBS.Repository.AccountRepository,FBS.Repository"/>
    <add key="FBS.Domain.Repository.IForumsRepository" value="FBS.Repository.ForumsRepository,FBS.Repository"/>
    <add key="FBS.Domain.Repository.IBlogStoryRepository" value="FBS.Repository.BlogStoryRepository,FBS.Repository"/>
    <add key="FBS.Domain.Repository.IForumMessageRepository" value="FBS.Repository.ForumMessageRepository,FBS.Repository"/>
    <add key="FBS.Domain.Repository.IBlogQuestionRepository" value="FBS.Repository.BlogQuestionRepository,FBS.Repository"/>

    <add key="ImgTempPath" value="~/tmp"/>
    <add key="ImgPath" value="~/usrimg"/>
    <add key="ImgType" value="image/gif|image/jpg|image/jpeg|image/png|image/pjpeg|image/x-png"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="sqlstrconn" connectionString="Data Source=223.4.87.12;Initial Catalog=Aviator;User Id=aviator;Password=123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="sqlstrconn" connectionString="Data Source=.\sqlexpress;Initial Catalog=aviator;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>-->
    <add name="sqlstrconn" connectionString="Data Source=192.168.1.119;Initial Catalog=Aviator;User Id=aviator;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Forms">
      <forms
        name="FBS.Web"
        defaultUrl="/Pages/Blog/Index.aspx"
        loginUrl="/Pages/User/Logon.aspx"
        
         path="/"
        protection="All"
        requireSSL="false"
        timeout="50000000"
        enableCrossAppRedirects="false"
        cookieless="UseDeviceProfile"
             >

        <!--domain=".dhjyzxw.com"-->
      </forms>

    </authentication>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
 -->
    <customErrors mode="Off" />

    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
