<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.2"/>
	</configSections>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="720" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager"/>
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Null Storage"/>
		</backingStores>
	</cachingConfiguration>
	<log4net debug="false">
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="Log\Applog.txt"/>
			<param name="datePattern" value="yyyy-MM-dd HH:mm"/>
			<param name="AppendToFile" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="Log.txt"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxSizeRollBackups" value="10"/>
			<param name="MaximumFileSize" value="5MB"/>
			<param name="RollingStyle" value="Size"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="LogFileAppender"/>
		</root>
	</log4net>
	<appSettings>
		<add key="^http://v.youku.com/v_show/id_([a-z\d=]+).html$" value="FBS.Web.Share.HtmlParser.YoukuHtmlParser,FBS.Share"/>
		<add key="^http://v.youku.com/v_playlist/f(\d+)o(\d+)p(\d+).html$" value="FBS.Web.Share.HtmlParser.YoukuPlayListHtmlParser, FBS.Share"/>
		<add key="^http://www.tudou.com/programs/view/(([a-zA-Z\d-_]+/isRenhe=1)|(([a-zA-Z\d-_]+)/([a-zA-Z\d-_=&amp;]*)))$" value="FBS.Web.Share.HtmlParser.TudouHtmlParser,FBS.Share"/>
		<add key="^http://v.ku6.com/((show/([a-zA-Z\d-_]+))|(special/show_([\d]+)/([a-zA-Z\d-_]+))).html$" value="FBS.Web.Share.HtmlParser.Ku6HtmlParser, FBS.Share"/>
		<add key="^http://6.cn/watch/[\d]+.html$" value="FBS.Web.Share.HtmlParser.SixRoomHtmlParser, FBS.Share"/>
		<add key="^http://you.video.sina.com.cn/((b/(\d+)-(\d+).html)|(pg/topicdetail/topicPlay.php\?([a-zA-Z\d_=&amp;]*)tid=(\d+)&amp;uid=(\d+)([&amp;t=\d]*)#(\d+)))$" value="FBS.Web.Share.HtmlParser.SinaHtmlParser, FBS.Share"/>
		<add key="^http://video.sina.com.cn/(news|sports|ent|finance|tech)/([a-zA-Z\d-\/]+).shtml$" value="FBS.Web.Share.HtmlParser.SinaNewsHtmlParser,FBS.Share"/>
		<add key="^http://v.blog.sohu.com/u/((vw/(\d+))|(pw/(\d+)#([a-zA-Z\d_]+)))$" value="FBS.Web.Share.HtmlParser.SohuHtmlParser, FBS.Share"/>
		<add key="^http://(news|ent|sports|finance|movie|real|you|joke|auto|games|travel).joy.cn/(guonei/video|guoji/video|video|movie/detail|movie/Detail|album|Album/(\d+)/(\d+)/(\d+))/(\d+).(htm|htm#)$" value="FBS.Web.Share.HtmlParser.JoyHtmlParser, FBS.Share"/>
		<add key="FBS.Domain.Repository.IForumThreadRepository" value="FBS.Repository.ForumThreadRepository,FBS.Repository"/>
		<add key="FBS.Service.UserEntryService" value="FBS.Service.UserEntryService,FBS.Service"/>
		<add key="FBS.Service.FocuseService" value="FBS.Service.FocuseService,FBS.Service"/>
		<add key="FBS.Service.ForumThreadService" value="FBS.Service.ForumThreadService,FBS.Service"/>
		<add key="FBS.Service.ForumService" value="FBS.Service.ForumService,FBS.Service"/>
		<add key="FBS.Service.BlogService" value="FBS.Service.BlogService,FBS.Service"/>
		<add key="FBS.Service.UserInfoService" value="FBS.Service.UserInfoService,FBS.Service"/>
		<add key="FBS.Service.CMSService" value="FBS.Service.CMSService,FBS.Service"/>
		<add key="FBS.Domain.Repository.IFeedRepository" value="FBS.Repository.FeedRepository,FBS.Repository"/>
		<add key="FBS.Domain.Repository.IXmlRepository" value="FBS.Repository.XmlRepository,FBS.Repository"/>
		<add key="FBS.Domain.Repository.IRepository`1" value="FBS.Repository.TRepository`1,FBS.Repository"/>
		<add key="FBS.Domain.Repository.IAccountRepository" value="FBS.Repository.AccountRepository,FBS.Repository"/>
		<add key="FBS.Domain.Repository.IForumsRepository" value="FBS.Repository.ForumsRepository,FBS.Repository"/>
		<add key="FBS.Domain.Repository.IBlogStoryRepository" value="FBS.Repository.BlogStoryRepository,FBS.Repository"/>
		<add key="FBS.Domain.Repository.IForumMessageRepository" value="FBS.Repository.ForumMessageRepository,FBS.Repository"/>
		<add key="FBS.Domain.Repository.IBlogQuestionRepository" value="FBS.Repository.BlogQuestionRepository,FBS.Repository"/>
		<add key="FBS.Domain.Repository.ISiteRepository" value="FBS.Repository.SiteRepository,FBS.Repository"/>
		<add key="ImgTempPath" value="~/tmp"/>
		<add key="ImgPath" value="~/usrimg"/>
		<add key="ImgType" value="image/gif|image/jpg|image/jpeg|image/png|image/pjpeg"/>
	</appSettings>
	<connectionStrings>
  <clear />
  <add name="sqlstrconn" connectionString="Data Source=.;Initial Catalog=fbs;User Id=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Web.sitemap"/>
			</providers>
		</siteMap>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Forms">
			<forms name="Web.Blog" defaultUrl="~/Home/Index" loginUrl="~/Account/LogOn" path="/" protection="All" requireSSL="false" timeout="50000000" enableCrossAppRedirects="false" cookieless="UseDeviceProfile">
				<!--domain=".dhjyzxw.com"-->
			</forms>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
     -->
		<customErrors mode="RemoteOnly" defaultRedirect="Error/404.htm">
			<error statusCode="404" redirect="Error/404.htm"/>
		</customErrors>
		<pages validateRequest="false" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="System.Linq"/>
				<add namespace="System.Collections.Generic"/>
			</namespaces>
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="2.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
