@charset "utf-8";
/* CSS Document */
.connectionMaincontent
{
}
.bigshowbox
{
    /*width:1000px;
    margin-left:5px;
	margin-right:5px;*/
	background:#000000 url(../images/connectionbigshow.png) no-repeat;
	margin:0 auto;
	
	
}
.one
{
   float:right;
   width:420px;
   height:147px;
   background:white;
}
.one span
{
    margin-left:-90px;
	font-size:48px;
	font-family:"黑体";
	font-weight:bold;
	color:#4070C9;
	line-height:147px;
	position:absolute;
	z-index:2;
}
.two span,.three span,.four span,.five span,.six span,.seven span
{
   color:#996600;
   font-size:24px;
   font-family:"幼圆","微软雅黑","黑体";
   font-weight:bold;
   margin-left:30px;
   padding-top:20px;
   border-bottom:2px solid #F2F2F2;
}
.two
{
   float:right;
   width:450px;
   height:46px;
   background:white;
}
.three
{
   float:right;
   width:480px;
   height:46px;
   background:white;
}
.four
{
   float:right;
   width:510px;
   height:46px;
   background:white;
}
.five
{
   float:right;
   width:540px;
   height:46px;
   background:white;
}
.six
{
   float:right;
   width:570px;
   height:46px;
   background:white;
   position:relative;
   top:-24px;
   z-index:1;
}
.ltr
{
   width:1000px;
   position:relative;
   z-index:2;
}
.leftline
{
   width:657px;
   height:16px;
   float:left;
   background:url(../images/tiaochang.png) repeat-y;
}
.connectionustext
{
    font-size:22px;
	font-weight:bold;
	color:#000000;
	float:left;
	width:272px;
	padding-left:30px;
	background:white;
}
.rightline
{
   width:41px;
   height:16px;
   float:right;
   background:url(../images/tiaoduan.png) repeat-y;
}
.seven
{
   float:right;
   width:600px;
   height:20px;
   background:white;
   margin-top:-24px;
}
.connectionblank50
{
   /*clear:both;
   overflow:hidden;
   margin:0 auto;*/
   height:50px;
   width:1000px;
   margin-top:67px;
   background:#CCCCCC;
}
.blankblack8
{
   clear:both;
   overflow:hidden;
   height:8px;
   width:1000px;
   margin:0 auto;
   background:black;
}
.mapbox
{
   background:white;
   padding-bottom:100px;
}
.connectionwaybox
{
   float:right;
   font-family:"微软雅黑","黑体";
   font-weight:bold;
   color:#330000;
   font-size:18px;
   margin-bottom:20px;
   margin-top:10px;
   margin-right:60px;
}
.connectionwaybox p
{
   line-height:1.8em;
}
.map
{
   width:970px;
   height:600px;
   /*line-height:600px;这行等放了地图以后去掉*/
   margin-left:15px;
   margin-right:15px;
   
   /*border-radius: 30px;*/
   border:1px solid #DCDCDD;
   font-family:"幼圆","微软雅黑","黑体";
   color:#330000;
   font-size:18px;
   background:#F1F0F0;
   text-align:center;
}