@charset "utf-8";
/* CSS Document */
.navlan
{
   width:980px;
   background:url(../images/nav_bg.png);
   height:44px;
   margin:0 auto;
   border-radius: 5px;
}
.navcenter
{
   width:875px;
   height:44px;
   margin:0 auto;
}

.navcenter a:link .navitembg
{
   background:url(../images/nav_whitebg.png) no-repeat;
   width:148px;
   float:left;
   height:44px;
   border:none;
}
.navcenter a:visited .navitembg
{
   background:url(../images/nav_yellowbg.png) no-repeat;
   width:148px;
   float:left;
   height:44px;
   border:none;
}
.navcenter a:hover .navitembg
{
   background:url(../images/nav_yellowbg.png) no-repeat;
   width:148px;
   float:left;
   height:44px;
   border:none;
   cursor:pointer;
}
.navcenter a:active .navitembg
{
   background:url(../images/nav_yellowbg.png) no-repeat;
   width:148px;
   float:left;
   height:44px;
   border:none;
}
.navitemhomebg
{
   
}
.navcenter a:link .navitemhomebg
{
   background:url(../images/nav_homewhitebg.png) no-repeat;
   width:105px;
   float:left;
   height:44px;
   border:none;
}
.navcenter a:visited .navitemhomebg
{
   background:url(../images/nav_yellowbghome.png) no-repeat;
   width:105px;
   float:left;
   height:44px;
   border:none;
}
.navcenter a:hover .navitemhomebg
{
   background:url(../images/nav_yellowbghome.png) no-repeat;
   width:105px;
   float:left;
   height:44px;
   border:none;
   cursor:pointer;
}
.navcenter a:active .navitemhomebg
{
   background:url(../images/nav_yellowbghome.png) no-repeat;
   width:105px;
   float:left;
   height:44px;
   border:none;
}
.navitembg
{
   
}
.navitemhomebg img,.navitembg img
{
   border:0;
}
.navfenge
{
   background:url(../images/nav_fengefu.png) no-repeat;
   width:4px;
   height:44px;
   float:left;
   border:none;
}
.navcenter a .navhomecurrent
{
   background:url(../images/nav_yellowbghome.png) no-repeat;
   width:105px;
   float:left;
   height:44px;
   border:none;
   cursor:pointer;
}
.navcenter a .navcurrent
{
   background:url(../images/nav_yellowbg.png) no-repeat;
   width:148px;
   float:left;
   height:44px;
   border:none;
   cursor:pointer;
}